@model IEnumerable<OPAS2Model.GoodsReceiving>
@{
    ViewBag.Title = "MyApplication";
}

@section init_scripts {
  <script type="text/javascript">
  var initBag = {};
  initBag.bizData = {};
  </script>
}

<h3>@Resources.Resource.MENU_MyApplications - 
  @Resources.Resource.MENU_GR
</h3>

@Html.Partial("DisplayQueryListResultPartial", @Model)