@model int
<div class="col-md-12 form-group" style="padding-right: 0px; margin-right: 0px;
  margin-left: 0px; padding-left: 0px;">
  <el-collapse accordion>
    <el-collapse-item>
      <template slot="title">
        @Resources.Resource.G_RelevantDocuments
      </template>
      @{Html.RenderAction("RelevantBizDocPartial", (string)ViewBag.flowTemplateCode, 
          new { id = Model});}
    </el-collapse-item>
  </el-collapse>
</div>

