<div class="form-group">
  <label class="control-label col-md-2">@Resources.Resource.G_Suggestion :</label>
  <div class="col-md-10">
    <el-select v-model="examineItem.selectedConnectionGuid"
               @@change="handleFlowSelectedConnection"
               placeholder="@Resources.Resource.G_SuggestFlowConnection">
      <el-option v-for="item in examineItem.sessionData.availableFlowConnections"
                 v-bind:label="item.connection.name"
                 v-bind:value="item.connection.guid">
        <span style="float: left">{{ item.connection.name }}</span>
        <span style="float: right; color: #8492a6; font-size: 13px">
          ==>> {{ item.toNode.name }}
        </span>
      </el-option>
    </el-select>

    <el-select v-model="examineItem.selectedPaticipantGuid" placeholder="@Resources.Resource.G_SuggestToNodeRole">
      <el-option v-for="item in examineItem.sessionData.potentialPaticipants"
                 v-bind:label="item.PaticipantObj.name"
                 v-bind:value="item.PaticipantObj.guid">
        <span style="float: left">{{ item.PaticipantObj.name }}</span>
        <span class="glyphicon glyphicon-tasks text-warning"
              v-if="item.PaticipantType=='role'"
              style="float: right; font-size: large; vertical-align: sub;">
        </span>
        <span class="glyphicon glyphicon-user text-warning"
              v-else
              style="float: right; font-size: large; margin-top:-5px;">
        </span>
      </el-option>
    </el-select>

    <el-button-group style="padding-top: 5px;">
      <el-tooltip content="提供处理意见 / Provide feedback">
        <el-button type="primary" icon="edit"
                   @@click="onSubmitInviteOtherFeedback"
                   v-bind:disabled="!this.examineItem.remarkOfAprrover">
        </el-button>
      </el-tooltip>
    </el-button-group>
  </div>
</div>

