# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/bin
/obj

# dependencies
/node_modules

#internal
/logs
/attaches
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/OPAS2.dll
obj/Debug/OPAS2.pdb