<h3 class="text-center">
  @Resources.Resource.G_PurchaseRequisition
  <el-tooltip content="@Resources.Resource.G_FlowInformation">
    <el-button type="success" icon="picture" size="small"
               @@click="showFlowChart"></el-button>
  </el-tooltip>
  @Html.Partial("DisplayFlowChartDialogPartial")
</h3>
<hr />
