@{
  ViewBag.Title = "Home Page";
}
<div class="row">
  <div class="col-md-12 no-left-right-padding" style="box-shadow: 0 -1.1em 2em 2em #324157;">
    <img src="~/images/Road.jpg" style="width: 100%;"/>
  </div>
</div>
