@model OPAS2Model.PurchaseOrder

<div class="form-group">
  @Html.LabelFor(model => model.paymentTerm, @Resources.Resource.G_PaymentTerm,
        htmlAttributes: new { @class = "control-label col-md-2" })
  <div class="col-md-10">
    @Html.TextAreaFor(model => model.paymentTerm, 5, 80,
          new Dictionary<string, object> {
                  { "class","form-control" } ,
                  { "style" , "max-width: 750px;" },
                  { "v-model","newItem.paymentTerm" },
           }
          )
  </div>
</div>
